.jumbotron {
  text-align: center;
  background: linear-gradient(black,darkgray,lightgray,white,lightgray,darkgray,black);
}

#reelColumn1, #reelColumn2, #reelColumn3 {
  height: 400px;
  border: solid black 5px;
  border-radius: 5px;
  background: linear-gradient(black,gray,white,gray,black);
  margin: 3px;
  text-align: center;
}

.reel3output {
  text-align: center;
}

#slotWindow {
}

body {
  font-family: 'Frijole', cursive;
  background: url(../img/nature-night-dark-tree.jpg);
  background-size: cover;
}
#spin {
  font-size: 3em;
  margin-top: 10px;
  margin-left: 50%;
}

#play-again {
  font-size: 3em;
  margin-top: 10px;
  margin-left: 50%;
}

#results {
  display: none;
}

img {
  max-width: 275px;
  height: 300px;
  width: auto;
}
.col-lg-8 {
  background-color: #764FE8;
  margin: 1px;
  width: 200px;
  height: 55px;
  border: solid;
  border-color: black;
  border-width: medium;
}
.col-lg-4 {
  background-color: #764FE8;
  margin: 1px;
  width: 150px;
  height: 55px;
  text-align: center;
  border: solid;
  border-color: black;
  border-width: medium;
}
.slotPayout {
  margin-top: 50px;
  background-color: black;
  color: white;
  text-align: center;
}
.slotImg {
  height: 45px;
  width: 45px;
}
.col-lg-4 {
  font-size: 18pt;
}
.legend {
  margin-left: 30%;
}
#h1 {
  font-size: 75pt;
  text-align: center;
  color: white;
}
