body {
  font-family: 'Frijole', cursive;
  background: url(../img/nature-night-dark-tree.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
  background-color: black;
}

#reelColumn1, #reelColumn2, #reelColumn3 {
  height: 400px;
  border: solid black 5px;
  border-radius: 5px;
  background: linear-gradient(black,gray,white,gray,black);
  margin: 3px;
  text-align: center;
  padding-top: 20px;
}

.winningsAlert {
  display: none;
  text-align: center;
  font-size: 8em;
  color: orange;
}

.total-bank-roll {
  color: orange;
  text-shadow: 10px 10px 10px black;
}

.reel3output {
  text-align: center;
}

#last-spin-winnings h2 {
  font-size: 2em;
  color: orange;
    text-shadow: 10px 10px 10px black;
}

/*buttons start here*/

#spin {
  font-size: 3em;
  color: #4d004d;
  margin-top: 10px;
  background-color: transparent;
  height: 230px;
  width: 230px;
  border-radius: 50%;
  background-image: url(../img/moon.jpg);
  background-size: 100% 100%;
}

#spin:hover {
  font-size: 3.5em;
}

#cash-out {
  font-size: 1em;
  color: green;
  text-shadow: 10px 0px 10px black;
  margin-top: 10px;
  background-color: transparent;
  background-image: url(../img/woodsign.jpg);
  height: 100px;
  width: 300px;
  background-size: 100% 100%;
}

#cash-out:hover {
  font-size: 1.1em;
}

#play-again {
  font-size: 2em;
  color: white;
  text-shadow: 10px 0px 10px black;
  margin-top: 10px;
  background-color: transparent;
  background-image: url(../img/woodsign.jpg);
  height: 100px;
  width: 300px;
  background-size: 100% 100%;
}

/*buttons end here*/

/*results start here*/

#results {
  display: none;
}

.resultCashOut {
  text-align: center;
  margin-top: 700px;
}

.resultBust {
  text-align: center;
  color: #8B0000;
  font-size: 100pt;
  margin-top: 700px;
}

.finalBankRoll {
  font-size: 50pt;
  color: #8B0000;
}

.him {
  color: white;
}

#spin-button h3 {
  font-size: 25pt;
  text-shadow: 10px 10px 10px black;
}

#total-bank-roll h1 {
  text-shadow: 10px 10px 10px black;
}

#last-spin-winnings {
  text-shadow: 10px 10px 10px black;
}

/*results end here*/

img {
  max-width: 275px;
  height: 300px;
  width: auto;
}

/*legend starts here*/

.col-xs-2 {
  font-size: 16pt;
  padding-top: 6px;
}

.slotPayout {
  margin-top: 50px;
  background-color: black;
  color: white;
  text-align: center;
}

.slotImg {
  height: 45px;
  width: 45px;
  display: inline;
}

.container {
  background-image: url(../img/legend.jpg);
  border-radius: 10pt;
  text-align: center;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 10px black;
}

/*legend ends here*/

.hideWhenCashoutOrBust {
  margin-left: 9%;
}

#h1 {
  font-size: 75pt;
  text-align: center;
  color: white;
  text-shadow: 10px 10px 10px black;
  padding-top: 20px;
  padding-bottom: 10px;
}

#last-spin-winnings, #total-bank-roll, #spin-button {
  text-align: center;
}
